<p [ngStyle]="{color: counter < 3 ? 'red' : 'green'}">Counter: {{ counter }}</p>
<p *ngIf="counter > 5; else menor">O contador passou de 5</p>

<h2 [ngClass]="{subtitle: counter > 7}" *ngIf="counter > 4">
  O contador é maior que 7
</h2>

<ng-template #menor>
  <p>O contador é menor que 5</p>
</ng-template>

<ul [ngSwitch]="counter">
  <li *ngSwitchCase="3">É igual a 3</li>
  <li *ngSwitchCase="5">É igual a 5</li>
  <li *ngSwitchCase="8">É igual a 8</li>
  <li *ngSwitchDefault>Eu sou o default</li>
</ul>

<input type="text" placeholder="Digite algo" [(ngModel)]="text">
<p>O texto é {{ text }}</p>

<button (click)="aumentar()" class="btn btn-success">Aumentar</button>
<button (click)="diminuir()" class="btn btn-danger">Diminuir</button>

<ol>
  <li *ngFor="let pessoa of pessoas">
    A pessoa se chama {{ pessoa.nome }} {{ pessoa.sobrenome }} e trabalha como {{ pessoa.cargo }}
  </li>
</ol>